<div>
  <div class="" style="height: 20;"></div>
  <center class="">
  <span class="display-3 mx-auto blue-text font-weight-bold">SEE FACULTIES</span>
  </center>
</div>
<div class="mx-5">
    <div class="row my-5">

      <div class="col-md-6 blue faculty-section">
        <div>
          <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF SCIENCE</h3>
        </div>
        <div class="row">
          <div class="col-6">
        <img src="stylesheets/images/other/IMG-20190410-WA0004.jpg" alt="science" class="img-fluid" style="height: 200px; width: auto;" srcset="">
          </div>

          <div class="col-6">
            <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
            <ul>
              <li class="h4 font-weight-bold white-text">Computer Science</li>
              <li class="h4 font-weight-bold white-text">Biochemistry</li>
              <li class="h4 font-weight-bold white-text">Microbiology</li>
              <li class="h4 font-weight-bold white-text">Botany</li>
              <li class="h4 font-weight-bold white-text">Zoology</li>
              <li class="h4 font-weight-bold white-text">Mathematics</li>
              <li class="h4 font-weight-bold white-text">Chemistry</li>
              <li class="h4 font-weight-bold white-text">Physics</li>
              <li class="h4 font-weight-bold white-text">Fishery</li>
            </ul>
          </div>
        </div>
      </div>



      <div class="col-md-6 red faculty-section">
          <div>
              <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF EDUCATION</h3>
            </div>
            <div class="row">
              <div class="col-6">
            <img src="stylesheets/images/other/education_building.jpg" alt="science" class="img-fluid" style="height: 300px; width: auto;" srcset="">
              </div>

              <div class="col-6">
                <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
                <ul>
                  <li class="h4 font-weight-bold white-text">Computer Science</li>
                  <li class="h4 font-weight-bold white-text">Biochemistry</li>
                  <li class="h4 font-weight-bold white-text">Microbiology</li>
                  <li class="h4 font-weight-bold white-text">Botany</li>
                  <li class="h4 font-weight-bold white-text">Zoology</li>

                </ul>
              </div>
            </div>
      </div>


      <div class="col-md-6 red faculty-section">
          <div>
              <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF LAW</h3>
            </div>
            <div class="row">
              <div class="col-6">
            <img src="stylesheets/images/other/images (48).jpeg" alt="science" class="img-fluid" style="height: 300px; width: auto;" srcset="">
              </div>

              <div class="col-6">
                <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
                <ul>
                  <li class="h4 font-weight-bold white-text">Computer Science</li>
                  <li class="h4 font-weight-bold white-text">Biochemistry</li>
                  <li class="h4 font-weight-bold white-text">Microbiology</li>
                  <li class="h4 font-weight-bold white-text">Botany</li>
                  <li class="h4 font-weight-bold white-text">Zoology</li>
                  <li class="h4 font-weight-bold white-text">Mathematics</li>
                  <li class="h4 font-weight-bold white-text">Chemistry</li>
                  <li class="h4 font-weight-bold white-text">Physics</li>
                  <li class="h4 font-weight-bold white-text">Fishery</li>

                </ul>
              </div>
            </div>
      </div>


      <div class="col-md-6 blue faculty-section">
          <div>
              <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF LAW</h3>
            </div>
            <div class="row">
              <div class="col-6">
            <img src="stylesheets/images/other/images (48).jpeg" alt="science" class="img-fluid" style="height: 300px; width: auto;" srcset="">
              </div>

              <div class="col-6">
                <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
                <ul>
                  <li class="h4 font-weight-bold white-text">Computer Science</li>
                  <li class="h4 font-weight-bold white-text">Biochemistry</li>
                  <li class="h4 font-weight-bold white-text">Microbiology</li>
                  <li class="h4 font-weight-bold white-text">Botany</li>
                  <li class="h4 font-weight-bold white-text">Zoology</li>
                  <li class="h4 font-weight-bold white-text">Mathematics</li>
                  <li class="h4 font-weight-bold white-text">Chemistry</li>
                  <li class="h4 font-weight-bold white-text">Physics</li>
                  <li class="h4 font-weight-bold white-text">Fishery</li>
                </ul>
              </div>
            </div>
      </div>


      <div class="col-md-6 blue faculty-section">
          <div>
              <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF SCIENCE</h3>
            </div>
            <div class="row">
              <div class="col-6">
            <img src="stylesheets/images/other/images (48).jpeg" alt="science" class="img-fluid" style="height: 300px; width: auto;" srcset="">
              </div>

              <div class="col-6">
                <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
                <ul>
                  <li class="h4 font-weight-bold white-text">Computer Science</li>
                  <li class="h4 font-weight-bold white-text">Biochemistry</li>
                  <li class="h4 font-weight-bold white-text">Microbiology</li>
                  <li class="h4 font-weight-bold white-text">Botany</li>
                  <li class="h4 font-weight-bold white-text">Zoology</li>
                  <li class="h4 font-weight-bold white-text">Mathematics</li>
                  <li class="h4 font-weight-bold white-text">Chemistry</li>
                  <li class="h4 font-weight-bold white-text">Physics</li>
                  <li class="h4 font-weight-bold white-text">Fishery</li>
                </ul>
              </div>
            </div>
      </div>


      <div class="col-md-6 red faculty-section">
          <div>
              <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF SCIENCE</h3>
            </div>
            <div class="row">
              <div class="col-6">
            <img src="stylesheets/images/other/images (48).jpeg" alt="science" class="img-fluid" style="height: 300px; width: auto;" srcset="">
              </div>

              <div class="col-6">
                <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
                <ul>
                  <li class="h4 font-weight-bold white-text">Computer Science</li>
                  <li class="h4 font-weight-bold white-text">Biochemistry</li>
                  <li class="h4 font-weight-bold white-text">Microbiology</li>
                  <li class="h4 font-weight-bold white-text">Botany</li>
                  <li class="h4 font-weight-bold white-text">Zoology</li>
                  <li class="h4 font-weight-bold white-text">Mathematics</li>
                  <li class="h4 font-weight-bold white-text">Chemistry</li>
                  <li class="h4 font-weight-bold white-text">Physics</li>
                  <li class="h4 font-weight-bold white-text">Fishery</li>
                </ul>
              </div>
            </div>
      </div>
  </div>
</div>





<center>
    <h4 class="card-title"><a>1OO level</a></h4>
    <p class=" h5 text-center" style="margin-top:0%;">Computer Science Department</p>
    <!-- <a href="#" class="btn btn-primary btn-block"><span class="h5">Check Population</span></a> -->
    <h4>Male: 100</h4>
    <h4>Female: 100</h4>
    <h4>Total: 200</h4>
</center>