<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sheygun CV:: Online curriculum vitea</title>
  <link rel="stylesheet" href="stylesheets/css/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/css/animate.css">
        <link rel="stylesheet" href="stylesheets/css/media-queries.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />
        <link rel="stylesheet" href="stylesheets/css/fractionslider.css"/>
        <link rel="stylesheet" href="stylesheets/css/style-fraction.css"/>
</head>
<body>

    <header>
        <div class="view view-home intro-2">
            <div class="full-bg-img">
                <div class="mask rgba-black-strong flex-center">
                    <div class="container text-center white-text">
                      <h4 class="font-weight-bold p-3">welcome to</h4>
                        <h1 class="font-weight-bold">LAGOS STATE UNIVERSITY</h1>
                        <h5 class="font-weight-bold">DEPARTMENT OF COMPUTER SCIENCE</h5>
                        <h5 class="font-weight-bold">Group X Project</h5>
                          <i style="transform: translateY(200px);" class="fa fa-angle-double-down fa-5x wow zoomIn" data-wow-duration="2s" data-wow-iteration="1000"></i>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="mx-4">
        <div class="row my-5">
            <div class="col-md-6" >
              <img src="stylesheets/images/header.jpg" style="" alt="Image 1" srcset="" class="img-fluid">
            </div>
            <div class="col-md-6 my-5">
                <center>
                  <h1>You are welcome to this wonderful website, this website is developed by lagos state university students from the department of computer science</h1>
                  <h1>You are welcome to this wonderful website, this website is developed by lagos state university students from the department of computer science</h1>
                </center>
              </div>
          </div>
    </div>

<div>
  <center>
  <span class="display-3 mx-auto blue-text ">SEE FACULTIES</span>
  </center>
</div>
<div class="mx-5">
    <div class="row my-5">

      <div class="col-md-6 blue faculty-section">
        <div>
          <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF SCIENCE</h3>
        </div>
        <div class="row">
          <div class="col-6">
        <img src="stylesheets/images/other/images (49).jpeg" alt="science" class="img-fluid" style="height: 300px; width: auto;" srcset="">
          </div>

          <div class="col-6">
            <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
            <ul>
              <li class="h4 font-weight-bold white-text">Computer Science</li>
              <li class="h4 font-weight-bold white-text">Biochemistry</li>
              <li class="h4 font-weight-bold white-text">Microbiology</li>
              <li class="h4 font-weight-bold white-text">Botany</li>
              <li class="h4 font-weight-bold white-text">Zoology</li>
              <li class="h4 font-weight-bold white-text">Mathematics</li>
              <li class="h4 font-weight-bold white-text">Chemistry</li>
              <li class="h4 font-weight-bold white-text">Physics</li>
              <li class="h4 font-weight-bold white-text">Fishery</li>
            </ul>
          </div>
        </div>
      </div>



      <div class="col-md-6 red faculty-section">
          <div>
              <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF EDUCATION</h3>
            </div>
            <div class="row">
              <div class="col-6">
            <img src="stylesheets/images/other/education_building.jpg" alt="science" class="img-fluid" style="height: 300px; width: auto;" srcset="">
              </div>

              <div class="col-6">
                <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
                <ul>
                  <li class="h4 font-weight-bold white-text">Computer Science</li>
                  <li class="h4 font-weight-bold white-text">Biochemistry</li>
                  <li class="h4 font-weight-bold white-text">Microbiology</li>
                  <li class="h4 font-weight-bold white-text">Botany</li>
                  <li class="h4 font-weight-bold white-text">Zoology</li>

                </ul>
              </div>
            </div>
      </div>


      <div class="col-md-6 red faculty-section">
          <div>
              <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF LAW</h3>
            </div>
            <div class="row">
              <div class="col-6">
            <img src="stylesheets/images/other/images (48).jpeg" alt="science" class="img-fluid" style="height: 300px; width: auto;" srcset="">
              </div>

              <div class="col-6">
                <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
                <ul>
                  <li class="h4 font-weight-bold white-text">Computer Science</li>
                  <li class="h4 font-weight-bold white-text">Biochemistry</li>
                  <li class="h4 font-weight-bold white-text">Microbiology</li>
                  <li class="h4 font-weight-bold white-text">Botany</li>
                  <li class="h4 font-weight-bold white-text">Zoology</li>
                  <li class="h4 font-weight-bold white-text">Mathematics</li>
                  <li class="h4 font-weight-bold white-text">Chemistry</li>
                  <li class="h4 font-weight-bold white-text">Physics</li>
                  <li class="h4 font-weight-bold white-text">Fishery</li>

                </ul>
              </div>
            </div>
      </div>


      <div class="col-md-6 blue faculty-section">
          <div>
              <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF LAW</h3>
            </div>
            <div class="row">
              <div class="col-6">
            <img src="stylesheets/images/other/images (48).jpeg" alt="science" class="img-fluid" style="height: 300px; width: auto;" srcset="">
              </div>

              <div class="col-6">
                <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
                <ul>
                  <li class="h4 font-weight-bold white-text">Computer Science</li>
                  <li class="h4 font-weight-bold white-text">Biochemistry</li>
                  <li class="h4 font-weight-bold white-text">Microbiology</li>
                  <li class="h4 font-weight-bold white-text">Botany</li>
                  <li class="h4 font-weight-bold white-text">Zoology</li>
                  <li class="h4 font-weight-bold white-text">Mathematics</li>
                  <li class="h4 font-weight-bold white-text">Chemistry</li>
                  <li class="h4 font-weight-bold white-text">Physics</li>
                  <li class="h4 font-weight-bold white-text">Fishery</li>
                </ul>
              </div>
            </div>
      </div>


      <div class="col-md-6 blue faculty-section">
          <div>
              <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF SCIENCE</h3>
            </div>
            <div class="row">
              <div class="col-6">
            <img src="stylesheets/images/other/images (48).jpeg" alt="science" class="img-fluid" style="height: 300px; width: auto;" srcset="">
              </div>

              <div class="col-6">
                <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
                <ul>
                  <li class="h4 font-weight-bold white-text">Computer Science</li>
                  <li class="h4 font-weight-bold white-text">Biochemistry</li>
                  <li class="h4 font-weight-bold white-text">Microbiology</li>
                  <li class="h4 font-weight-bold white-text">Botany</li>
                  <li class="h4 font-weight-bold white-text">Zoology</li>
                  <li class="h4 font-weight-bold white-text">Mathematics</li>
                  <li class="h4 font-weight-bold white-text">Chemistry</li>
                  <li class="h4 font-weight-bold white-text">Physics</li>
                  <li class="h4 font-weight-bold white-text">Fishery</li>
                </ul>
              </div>
            </div>
      </div>


      <div class="col-md-6 red faculty-section">
          <div>
              <h3 class="text-center white-text my-4 font-weight-bold">FACULTY OF SCIENCE</h3>
            </div>
            <div class="row">
              <div class="col-6">
            <img src="stylesheets/images/other/images (48).jpeg" alt="science" class="img-fluid" style="height: 300px; width: auto;" srcset="">
              </div>

              <div class="col-6">
                <h3 class="h1 text-center white-text my-4 font-weight-bold">Lists of Departments</h3>
                <ul>
                  <li class="h4 font-weight-bold white-text">Computer Science</li>
                  <li class="h4 font-weight-bold white-text">Biochemistry</li>
                  <li class="h4 font-weight-bold white-text">Microbiology</li>
                  <li class="h4 font-weight-bold white-text">Botany</li>
                  <li class="h4 font-weight-bold white-text">Zoology</li>
                  <li class="h4 font-weight-bold white-text">Mathematics</li>
                  <li class="h4 font-weight-bold white-text">Chemistry</li>
                  <li class="h4 font-weight-bold white-text">Physics</li>
                  <li class="h4 font-weight-bold white-text">Fishery</li>
                </ul>
              </div>
            </div>
      </div>
  </div>
</div>


  <footer class="">
      <div class="black">
          <div class="footer-copyright text-center py-5 h3 white-text" style="margin: 0px;"> Copyright © 2019 <span class="red-text">Group X Project</span>
          </div>
        </div>
  </footer>
</body>








 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/javascript.js"></script>
   <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
   <script src="stylesheets/js/jquery-1.11.1.min.js"></script>
         <script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
         <script src="stylesheets/js/jquery.backstretch.min.js"></script>
         <script src="stylesheets/js/wow.min.js"></script>
         <script src="stylesheets/js/retina-1.1.0.min.js"></script>
         <script src="stylesheets/js/scripts.js"></script>
         <script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
 <script type="text/javascript" src="stylesheets/js/styleswitch.js"></script>
 <script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/swipe.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>

 <script src="stylesheets/js/main.js"></script>

 <script>
    new WOW().init();
  </script>
</html>