<!DOCTYPE html>
<html lang="en">
  <!-- ============================================= this is the head of the index page where stylesheets files are connect to externally =============================== -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project for Group 6</title>
  <link rel="stylesheet" href="stylesheets/css/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/css/animate.css">
</head>
<!-- ====================================== the body of the html page ========================================== -->
<body>
        <!-- navbar section -->
        <nav class="navbar navbar-dark fixed-top black">
                <a class="navbar-brand" href="#">
                  <h1 onclick="window.location.replace('/');" class="p-3 font-weight-bold">LASU EDU-PLANNIG SYSTEM</h1>
                </a>
        </nav>
<!-- ====================================== Main Page for Student ==================================sheygun======== -->
        <div style="height: 80px;"></div>
        <h4 class="p-2 ">You are here <a href="/">Home</a> -> <a href="/minipage">Minipage</a> -> Student</h4>

                <div class="text-center mx-auto d-flex justify-content-center align-item-center">
                        <h1 class="purple p-4 font-weight-bold rounded">COMPUTER SCIENCE DEPARTMENT</h1>
                </div>
           <div class="container" id="print">
               <div class="row">
                       <div class="col-md-3">
                                <div class="row my-3">
                                                <div class="col-12">
                                                               <div>
                                                                        <center>
                                                                                <h3 class="my-4 font-weight-bold">LEVELS</h3>
                                                                        </center>
                                                               </div>
                                                    <div class="card">
                                                            <div class="card-body">
                                                                <center>
<!-- ====================================== Level Section 100 ==================================sheygun======== -->
                                                                        <h4 class="card-title font-weight-bold"><a>1OO level</a></h4>
                                                                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary btn-block"><span class="h5">Check Population</span></a>
                                                                        <div class="collapse" id="collapseExample">
                                                                                        <div class="mt-3">
                                                                                                        <div class="row">
                                                                                                                <div class="col-4 p-3">
                                                                                                                        <h5>Male: </h5>
                                                                                                                </div>
                                                                                                                <div class="col-6 p-2">
                                                                                                                        <input class="form-control form-control-lg p-3" type="number" placeholder="" id="studentMaleNumber1" >
                                                                                                                </div>
                                                                                                        </div>
                                                                                                        <div class="row">
                                                                                                                        <div class="col-4 p-3">
                                                                                                                                <h5>Female: </h5>
                                                                                                                        </div>
                                                                                                                        <div class="col-6 p-2">
                                                                                                                                <input class="form-control form-control-lg p-3" type="number" placeholder="" id="studentFemaleNumber1" onblur="calculate();">
                                                                                                                        </div>
                                                                                                        </div>
                                                                                                        <div class="row">
                                                                                                                        <div class="col-4 p-3">
                                                                                                                                <h5>Total: </h5>
                                                                                                                        </div>
                                                                                                                        <div class="col-6 p-2">
                                                                                                                                <input class="form-control form-control-lg p-3" type="number" placeholder="" id="csclevel1">
                                                                                                                        </div>
                                                                                                        </div>
                                                                                                </div>
                                                                              </div>
                                                                    </center>
                                                            </div>
                                                        </div>
                                                </div>
                                        </div>
<!-- ====================================== Level Section 200 ==================================sheygun======== -->
                                        <div class="row mb-3">
                                                        <div class="col-12">
                                                        <div class="card">
                                                                <div class="card-body">
                                                                        <center>
                                                                                <h4 class="card-title font-weight-bold"><a>2OO level</a></h4>
                                                                                <a data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" class="btn btn-primary btn-block"><span class="h5">Check Population</span></a>
                                                                                <div class="collapse" id="collapseExample2">

                                                                                <div class="mt-3">

                                                                                                        <div class="row">
                                                                                                                <div class="col-4 p-3">
                                                                                                                        <h5>Male: </h5>
                                                                                                                </div>
                                                                                                                <div class="col-6 p-2">
                                                                                                                        <input class="form-control form-control-lg p-3" type="number" placeholder="" id="studentMaleNumber2" >
                                                                                                                </div>
                                                                                                        </div>

                                                                                                        <div class="row">
                                                                                                                        <div class="col-4 p-3">
                                                                                                                                <h5>Female: </h5>
                                                                                                                        </div>
                                                                                                                        <div class="col-6 p-2">
                                                                                                                                <input class="form-control form-control-lg p-3" type="number" placeholder="" id="studentFemaleNumber2" onblur="calculate();">
                                                                                                                        </div>
                                                                                                        </div>
                                                                                                        <div class="row">
                                                                                                                        <div class="col-4 p-3">
                                                                                                                                <h5>Total: </h5>
                                                                                                                        </div>
                                                                                                                        <div class="col-6 p-2">
                                                                                                                                <input class="form-control form-control-lg p-3" type="number" placeholder="" id="csclevel2">
                                                                                                                        </div>
                                                                                                        </div>
                                                                                                </div>

                                                                                      </div>
                                                                            </center>
                                                                </div>
                                                            </div>
                                                    </div>
                                         </div>
<!-- ====================================== Level Section 300 ==================================sheygun======== -->
                                         <div class="row mb-3">
                                                        <div class="col-12">
                                                        <div class="card">
                                                                <div class="card-body">
                                                                        <center>
                                                                                <h4 class="card-title font-weight-bold"><a>3OO level</a></h4>
                                                                                <a data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3" class="btn btn-primary btn-block"><span class="h5">Check Population</span></a>
                                                                                <div class="collapse" id="collapseExample3">

                                                                                                <div class="mt-3">

                                                                                                                <div class="row">
                                                                                                                        <div class="col-4 p-3">
                                                                                                                                <h5>Male: </h5>
                                                                                                                        </div>
                                                                                                                        <div class="col-6 p-2">
                                                                                                                                <input class="form-control form-control-lg p-3" type="number" placeholder="" id="studentMaleNumber3" >
                                                                                                                        </div>
                                                                                                                </div>

                                                                                                                <div class="row">
                                                                                                                                <div class="col-4 p-3">
                                                                                                                                        <h5>Female: </h5>
                                                                                                                                </div>
                                                                                                                                <div class="col-6 p-2">
                                                                                                                                        <input class="form-control form-control-lg p-3" type="number" placeholder="" id="studentFemaleNumber3" onblur="calculate();">
                                                                                                                                </div>
                                                                                                                </div>
                                                                                                                <div class="row">
                                                                                                                                <div class="col-4 p-3">
                                                                                                                                        <h5>Total: </h5>
                                                                                                                                </div>
                                                                                                                                <div class="col-6 p-2">
                                                                                                                                        <input class="form-control form-control-lg p-3" type="number" placeholder="" id="csclevel3">
                                                                                                                                </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                      </div>
                                                                            </center>
                                                                </div>
                                                            </div>
                                                    </div>
                                         </div>
<!-- ====================================== Level Section 400 ==================================sheygun======== -->
                                         <div class="row mb-3">
                                                        <div class="col-12">
                                                        <div class="card">
                                                                <div class="card-body">
                                                                        <center>
                                                                                <h4 class="card-title font-weight-bold"><a>4OO level</a></h4>
                                                                                <a data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4" class="btn btn-primary btn-block"><span class="h5">Check Population</span></a>
                                                                                <div class="collapse" id="collapseExample4">

                                                                                 <div class="mt-3">

                                                                                                        <div class="row">
                                                                                                                <div class="col-4 p-3">
                                                                                                                        <h5>Male: </h5>
                                                                                                                </div>
                                                                                                                <div class="col-6 p-2">
                                                                                                                        <input class="form-control form-control-lg p-3" type="number" placeholder="" id="studentMaleNumber4" >
                                                                                                                </div>
                                                                                                        </div>

                                                                                                        <div class="row">
                                                                                                                        <div class="col-4 p-3">
                                                                                                                                <h5>Female: </h5>
                                                                                                                        </div>
                                                                                                                        <div class="col-6 p-2">
                                                                                                                                <input class="form-control form-control-lg p-3" type="number" placeholder="" id="studentFemaleNumber4" onblur="calculate();">
                                                                                                                        </div>
                                                                                                        </div>
                                                                                                        <div class="row">
                                                                                                                        <div class="col-4 p-3">
                                                                                                                                <h5>Total: </h5>
                                                                                                                        </div>
                                                                                                                        <div class="col-6 p-2">
                                                                                                                                <input class="form-control form-control-lg p-3" type="number" placeholder="" id="csclevel4">
                                                                                                                        </div>
                                                                                                        </div>
                                                                                                </div>
                                                                                      </div>
                                                                            </center>
                                                                </div>
                                                            </div>
                                                    </div>
                                         </div>
                        </div>

<!-- ====================================== Departmental Section ==================================sheygun======== -->
                       <div class="col-md-4 mt-3">
                                <div>
                                        <div>
                                        <center>
                                            <h3 class="my-4 font-weight-bold">DEPARTMENTAL FACILITIES</h3>
                                         </center>
                                        </div>
                                        <div class="card mb-3">
                                                        <div class="card-body">
                                                                <center>
                                                                        <p class=" h5 text-center font-weight-bold" style="margin-top:0%;">Science Complex I</p>
                                                                        <a onclick="scienceComplex();" class="btn btn-primary btn-block"><span class="h5">Check Capacity</span></a>
                                                                </center>
                                                        </div>
                                         </div>
                                         <div class="card mb-3">
                                                        <div class="card-body">
                                                                <center>
                                                                        <p class=" h5 text-center font-weight-bold" style="margin-top:0%;">Science Complex II</p>
                                                                        <a onclick="scienceComplex2();" class="btn btn-primary btn-block"><span class="h5">Check Capacity</span></a>
                                                                </center>
                                                        </div>
                                         </div>

                                         <div class="card mb-3">
                                                        <div class="card-body">
                                                                <center>
                                                                        <p class=" h5 text-center font-weight-bold" style="margin-top:0%;">Science Room 1</p>
                                                                        <a onclick="scienceRoom1();" class="btn btn-primary btn-block"><span class="h5">Check Capacity</span></a>
                                                                </center>
                                                        </div>
                                         </div>

                                         <div class="card mb-3">
                                                        <div class="card-body">
                                                                <center>
                                                                        <p class=" h5 text-center font-weight-bold" style="margin-top:0%;">Science Room 2</p>
                                                                        <a onclick="scienceRoom2();" class="btn btn-primary btn-block"><span class="h5">Check Capacity</span></a>
                                                                </center>
                                                        </div>
                                         </div>

                                         <div class="card mb-3">
                                                        <div class="card-body">
                                                                <center>
                                                                        <p class=" h5 text-center font-weight-bold" style="margin-top:0%;">Science Room 3</p>
                                                                        <a onclick="scienceRoom3();" class="btn btn-primary btn-block"><span class="h5">Check Capacity</span></a>
                                                                </center>
                                                        </div>
                                         </div>

                                         <div class="card mb-3">
                                                        <div class="card-body">
                                                                <center>
                                                                        <p class=" h5 text-center font-weight-bold" style="margin-top:0%;">Computer Laboratory</p>
                                                                        <a onclick="computerLab();" class="btn btn-primary btn-block"><span class="h5">Check Capacity</span></a>
                                                                </center>
                                                        </div>
                                         </div>

                                         <div class="card mb-3">
                                                        <div class="card-body">
                                                                <center>
                                                                        <p class=" h5 text-center font-weight-bold" style="margin-top:0%;">Benson Hall</p>
                                                                        <a onclick="benson();" class="btn btn-primary btn-block"><span class="h5">Check Capacity</span></a>
                                                                </center>
                                                        </div>
                                         </div>
                                        </div>
                       </div>

<!-- ====================================== Capacities Section ==================================sheygun======== -->
                       <div class="col-md-5 mt-3">
                                <div>
                                                <div>
                                                        <center>
                                                            <h3 class="my-4 font-weight-bold">CAPACITIES</h3>
                                                         </center>
                                                </div>

                                        <div class="card" id="totalCapacity">
                                                <div class="card-body">
                                                        <h1 class="text-center my-4 blue-text font-weight-bold" id="headers"></h1>
                                                        <h3>Capacity of Chairs: <span id="chair" class="font-weight-bold h1"></span></h3>
                                                        <h3>No of Fans: <span id="fan" class="font-weight-bold h1"></span></h3>
                                                        <h3>No of Air Conditions: <span id="aircon" class="font-weight-bold h1"></span></h3>
                                                        <h3>Ratio to 100 Level Students: <span id="ratio1" class="font-weight-bold h1"></span></h3>
                                                        <h3>Ratio to 200 Level Students: <span id="ratio2" class="font-weight-bold h1"></span></h3>
                                                        <h3>Ratio to 300 Level Students: <span id="ratio3" class="font-weight-bold h1"></span></h3>
                                                        <h3>Ratio to 400 Level Students: <span id="ratio4" class="font-weight-bold h1"></span></h3>
                                                        <button type="button" class="btn btn-outline-red btn-block my-3 waves-effect" onclick="clears();">
                                                                <span class="h3">Clear Data</span>
                                                        </button>
                                                </div>
                                        </div>

                                        <div class="chart-container" style="position: relative;">
                                                        <div class="blue py-1 mt-5">
                                                                <h3 class="text-center font-weight-bold mt-2 white-text">BAR CHART</h3>
                                                        </div>
                                                                <canvas class=""  style="height: 500px; width: 100%;" id="myChart"></canvas>
                                                                <h6 class="text-center h4">Student to Facilities Staff</h6>
                                                            </div>
                                </div>
                       </div>
<!-- ====================================== End of this Section ==================================sheygun======== -->
               </div>
           </div>
                                 <div style="height: 20px;"></div>
       <!-- ============================================= footer for the group project =========================================================== -->
        <footer class="">
                <div class="black">
                    <div class="footer-copyright text-center py-5 h3 white-text" style="margin: 0px;"> Copyright © 2019 <span class="red-text">Group 6 Project</span>
                    </div>
                  </div>
            </footer>
 <!-- ============================================= end of the body code ++++++++++++++++++++++++++++++ -->
</body>

<!-- ================================= script included as plugins to enhance Javascript functions ======================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="stylesheets/js/javascript.js"></script>
  <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
  <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
  <script src="stylesheets/js/jquery-1.11.1.min.js"></script>
   <script src="stylesheets/js/wow.min.js"></script>

 <script src="stylesheets/js/student.js"></script> <!-- Javascript functions for student section -->
 <script src="stylesheets/js/chart.js" type="text/javascript"></script> <!-- Javascript functions for Bar Chart section -->

 <!-- some Minor Javascript functions for web reactions -->
 <script>
        new WOW().init();
</script>

</html>